# Unix
alias ll="ls -al"
alias ln="ln -v"
alias mkdir="mkdir -p"
alias e="$EDITOR"
alias v="$VISUAL"

# cheat.sh
function cheat(){ curl cheat.sh/"$@"; }

# Pretty print the path
alias path='echo $PATH | tr -s ":" "\n"'
